In [60]:
import PyPDF2
import re
import pandas as pd

# open the pdf file
filename = "college_cutoffs.pdf"
object = PyPDF2.PdfFileReader(filename)

# get number of pages
NumPages = object.getNumPages()

# define keyterms
college = " Savitribai Phule Pune University"
branch = "Civil Engineering"
college_list = []
rank = []
# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    Search_college = re.search(college, Text)
    if Search_college is not None:
        Search_branch = re.search(branch, Text)
        if Search_branch is not None:
            ResultH = re.search("GOPENH", Text)
            ResultS = re.search("GOPENS", Text)
            if ResultH is not None:
                rank.append(int(Text[ResultH.start():ResultH.end()+100].split(" ")[2].split("(")[0][1:]))
                college_name = Text.split("-")[2].split("\n")[0]
                processed_name = re.search("[0-9]", college_name)
                if processed_name is not None:
                    college_list.append(college_name[:processed_name.start()])
                else:
                    college_list.append(college_name)
            elif ResultS is not None:
                rank.append(int(Text[ResultS.start():ResultS.end()+200].split(" ")[2].split("(")[0][1:]))
                college_name = Text.split("-")[2].split("\n")[0]
                processed_name = re.search("[0-9]", college_name)
                if processed_name is not None:
                    college_list.append(college_name[:processed_name.start()])
                else:
                    college_list.append(college_name)
                
df = pd.DataFrame(rank, columns=['Rank'])
df['College_list'] = college_list
df

     Rank                                       College_list
0   38617   Nashik District Maratha Vidya Prasarak Samaj'...
1   50417   Sandip Foundation, Sandip Institute of Techno...
2   22937   K. K. Wagh Institute of Engineering Education...
3   32662   K. K. Wagh Institute of Engineering Education...
4   53420   Jagadamba Education Soc. Nashik's S.N.D. Coll...
..    ...                                                ...
74  81692   Shri.Someshwar Shikshan Prasarak Mandals, Som...
75  59535   Bharati Vidyapeeth's College of Engineering,L...
76  46359   Dr. D.Y.Patil Institute of Engineering, Manag...
77  41752   Pimpri Chinchwad Education Trust's Pimpri Chi...
78  84073   Dr.D.Y.Patil College Of Engineering & Innovat...

[79 rows x 2 columns]

In [62]:
df = df.sort_values(by=['Rank']).reset_index(drop=True)
df[:10]

    Rank                                       College_list
0   1255                       College of Engineering, Pune
1  12456   Government College of Engineering & Research,...
2  12971   Pimpri Chinchwad Education Trust, Pimpri Chin...
3  14178   B.R.A.C.T's Vishwakarma Institute of Informat...
4  16173            MIT Academy of Engineering,Alandi, Pune
5  22937   K. K. Wagh Institute of Engineering Education...
6  23543   Alard  Charitable Trust's Alard College of En...
7  27370   Jawahar Education Society's Institute of Tech...
8  28635   All India Shri Shivaji Memorial Society's Col...
9  32066   Amruta Vaishnavi Education & Welfare Trust's ...